body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("https://i.ytimg.com/vi/VRpdoDuMHgE/maxresdefault.jpg");
  background-repeat: no-repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute; 
  
}

.blinkyDancer {
  position: absolute;
  width: 175px;
  height: auto;
}

.twoStepDancer:hover {
  position: absolute;
  width: 300px;
  height: auto;
}

.twoStepDancer {
  position: absolute; 
  /* gif banana ; this method doesn't work*/
  /*background-image: url("http://gph.is/2bizNeX");*/
}

.title, .lineUpDancerButton{
  padding:5px 12px;
  float:right;
}


.dancerLine {
  display: table-cell;
  text-align: center;
  /*
  display: flex;
  justify-content: center;
  align-items: left;
  position: relative;
  text-align: center;
  flex-grow: 1;
  */
}

/* flexbox 
div.topbar {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;  
} */